@import './styles.scss', './transitions.scss', './utils/variables.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	// font-size: 1.125rem; // 18px //
}
body {
	@apply bg-0 text-3 overflow-hidden h-screen w-screen;

	&:after,
	&::before {
		content: '';
		@apply fixed z-[100] pointer-events-none inset-0;
	}
	&:before {
		$grid: 5px;
		background-size: $grid $grid;
		background-image: linear-gradient(
				90deg,
				transparent,
				transparent $grid - 1px,
				rgba($gray-dark, 0.07) $grid
			),
			linear-gradient(
				transparent,
				transparent $grid - 1px,
				rgba($gray-dark, 0.07) $grid
			);
	}
	&:after {
		box-shadow: inset 0 0 150px rgba($gray-dark, 0.35),
			inset 0 0 150px rgba($gray-dark, 0.25);

		@media (min-width: 768px) {
			box-shadow: inset 0 0 150px rgba($gray-dark, 0.45),
				inset 0 0 150px rgba($gray-dark, 0.35);
		}
	}
}

h1 {
	@apply text-4 font-sans font-black text-lg uppercase tracking-tight;
	line-height: 90%;
	font-size: clamp(4rem, 5vw, 5rem);
	font-feature-settings: 'cpsp' on;
}

h2 {
	@apply font-sans font-bold text-lg leading-loose tracking-wide uppercase;
	font-feature-settings: 'cpsp' on;
}

h6 {
	@apply font-sans font-semibold text-base leading-normal tracking-wide uppercase;
	font-feature-settings: 'cpsp' on;
}

p {
	@apply font-sans font-normal text-base leading-normal tracking-normal;
	font-feature-settings: 'cpsp' on;
}

a {
	@apply cursor-pointer font-bold md:hover:underline;
}

svg {
	@apply w-5;
}

::selection {
	@apply text-0 bg-3 bg-opacity-50;
}
