@import './styles.scss', './transitions.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	// font-size: 1.125rem; // 18px //
}
body {
	@apply bg-0 text-3 overflow-hidden h-screen w-screen;
}

h1 {
	@apply text-4 font-sans font-black text-lg uppercase tracking-tight;
	line-height: 90%;
	font-size: clamp(4rem, 5vw, 5rem);
	font-feature-settings: 'cpsp' on;
}

h2 {
	@apply font-sans font-bold text-lg leading-loose tracking-wide uppercase;
	font-feature-settings: 'cpsp' on;
}

h6 {
	@apply font-sans font-semibold text-base leading-normal tracking-wide uppercase;
	font-feature-settings: 'cpsp' on;
}

p {
	@apply font-sans font-normal text-base leading-normal tracking-normal;
	font-feature-settings: 'cpsp' on;
}

a {
	@apply cursor-pointer font-bold md:hover:underline;
}

::selection {
	@apply text-0 bg-3 bg-opacity-50;
}
