.vue-slider {
	&-rail {
		@apply bg-1 rounded-full;
	}
	&-process {
		@apply bg-2 rounded-full;
	}
	&-dot {
		@apply bg-2 rounded-full;
		width: 12px !important;
		height: 12px !important;
	}
	// &-dot-tooltip {
	//    @
	// }
	&-dot-tooltip-text {
		@apply text-sm;
	}
}

.caption {
	@apply font-sans font-semibold text-sm leading-tight tracking-wide uppercase;
	font-feature-settings: 'cpsp' on;
}

.mono {
	@apply font-mono font-medium text-sm leading-tight tracking-normal;
	font-feature-settings: 'tnum' on, 'lnum' on, 'cpsp' on, 'case' on, 'ss03' on;
}
