.vue-slider {
	&-rail {
		@apply bg-0;
		z-index: 1 !important;
	}
	&-process {
		@apply relative z-10 bg-3;
		z-index: 3 !important;
	}
	&-dot {
		@apply bg-3;
		width: theme('spacing.3') !important;
		height: theme('spacing.3') !important;
		outline: theme('colors.1') 0.25rem solid;
		z-index: 2 !important;
	}
}

.caption {
	@apply font-sans font-semibold text-sm leading-tight tracking-wide uppercase;
	font-feature-settings: 'cpsp' on;
}

.mono {
	@apply font-mono font-medium text-sm leading-tight tracking-normal;
	font-feature-settings: 'tnum' on, 'lnum' on, 'cpsp' on, 'case' on, 'ss03' on;
}
